DEBUG = False
LOG_FILE = 'stng.log'
ADMINS = ['me@mydomain.com']
SMTP_HOST = 'smtp.mydomain.com'
SMTP_USER = 'me@mydomain.com'
SMTP_PASS = 'password'
SECRET_KEY = 'YourKeyGoesHere'
REPO_PATH = '/Users/bdunnette/stng-wiki/'